<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Télétravail</title>
  <meta name="description" content="Télétravail chez Sopra HR">
  <meta name="keywords" content="Télétravail, Travail à distance, Sopra HR">

  <!-- Favicons -->
  <link href="../../assets/img/Sopra.png" rel="icon">
  <link href="../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<body class="teletravail-page">
  <!-- Header -->
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center">
      <a href="/home" class="logo d-flex align-items-center me-auto">
        <img src="../../assets/img/Sopra_Steria_logo.svg.png" alt="Company Logo" style="transform: scale(1.5); max-width: 150px; height: auto;">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/home">Page d'accueil</a></li>
          <li><a href="/teletravail">Télétravail</a></li>
          <li><a href="/reservation" class="active">Réservations de Postes</a></li>
          <li><a href="/planning" >Planning</a></li>
          <li>
            <button class="btn btn-logout" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Déconnexion</button>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>

<p>reservation-desk works!</p>



<!-- Footer -->
<footer id="footer" class="footer dark-background">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/home" class="logo d-flex align-items-center">
            <span class="sitename" style="margin-left: 25px;">Sopra HR</span>
          </a>
          <div class="social-links d-flex mt-4">
            <a href="https://x.com/sopraHR" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.facebook.com/SopraHR/?ref=br_rs" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/soprahr/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/soprahr/" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 footer-links text-center">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/home">Page d'accueil</a></li>
            <li><a href="/teletravail">Télétravail</a></li>
            <li><a href="/reservation">Réservations de Postes</a></li>
            <li><a href="/planning">Planning</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-logo text-end">
          <img src="../../assets/img/Sopra.png" alt="Company Logo" style="max-width: 100%; height: auto; transform: scale(0.5); margin-bottom: 0;  margin-right: 15px;">
          <p style="margin-top: -60px;"> 2025 <span>Copyright</span> <strong class="px-1 sitename">Sopra HR</strong> <span>All Rights Reserved</span></p>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
