<div class="container">
  <div class="form">
    <div class="sign-in-section">
      <img src="../../assets/img/images (1).png" alt="Logo" class="logo" style="display: block; margin: 0 auto; width: 40%;" />
      <h1>Login</h1>
      <form>
        <div class="form-field">
          <label for="email">Email</label>
          <input id="email" name="email" type="email" placeholder="Email" required />
        </div>
        <div class="form-field">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" placeholder="Password" required />
          
        </div>
        <div class="form-options">
          <div class="checkbox-field">
            <input id="rememberMe" type="checkbox" class="checkbox" />
            <label for="rememberMe">Remember Me</label>
          </div>
        </div>
        <div class="form-field">
          <input type="submit" class="btn btn-signin" value="Submit" />
        </div>
      </form>
      <div class="links">
        <a href="/forgot-password">Forget password?</a>
      </div>
    </div>
  </div>
</div>
